@using BethanysPieShop.NavPages
@using BethanysPieShop.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!-- STYILE -->
<style>
    
    .site-header {
        background-color: #a593c2;
        /*-webkit-backdrop-filter: saturate(180%) blur(20px);*/
        /*backdrop-filter: saturate(180%) blur(20px);*/
    }

        .site-header a {
            color: #fff;
            transition: ease-in-out color .15s;
        }

            .site-header a:hover {
                color: rgba(0, 0, 0, .85);
                text-decoration: none;
            }

        .site-header .navbar-brand:hover {
            color: #fff;
            text-decoration: none;
        }

        .site-header .dropdown-item {
            color: rgba(0, 0, 0, .85);
            text-decoration: none;
        }


    /*.navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: inherit;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }*/
    
    
</style>
<!-- END STYLE -->

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bethany's Pie Shop - @ViewData["Title"]</title>
    <link rel="icon" href="~/images/bethanylogo.png">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/shoppingcart_navbar.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/cart-crud.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

</head>

<body>
    <!-- NAVGATION -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light py-0">
        <div class="container body-content">
            <button class="navbar-toggler p-1 border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto mr-lg-0 p-2" style="font-size: 1.5rem;" asp-controller="Home" asp-action="Index">Bethany's Pie</a>
            <li class="nav-item dropdown p-1" id="li-NavCart"></li>
            <ul class="navbar-nav">
                <partial name="_LoginPartialM" />
            </ul>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="homeNI" asp-controller="Home" asp-action="Index">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    @await Component.InvokeAsync("CategoryMenuNav")
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact Us</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrators"))
                    {
                        @await Component.InvokeAsync("AdminMenu")

                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-controller="PieManagement"
                               asp-action="Index">Pie Management</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown p-1" id="li-NavCart2"></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVEGATION -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="container body-content pt-4">
        @RenderBody()
        <hr />
        <footer class=" text-muted text-center text-small">
            <p>&copy; 2018 - EliG MosQera</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
  
    @RenderSection("scripts", required: false)

    <!-- SCRIPT -->
    <script>
        
        $(document).ready(function () {
            
            // getShoppingCart();
            if ($(document).width() <= 974 && $(document).width() > 327) {
 
                $('#liNavU2').css({ 'display': 'none' });
                $('#liR').css({ 'display': 'none' });
                $('#liL').css({ 'display': 'none' });
                $('#liNavU').css({ 'display': 'block' });
                $('#liNavU3').css({ 'display': 'block' });

            } else if($(document).width() > 974 ){
                $('#liNavU').css({ 'display': 'none' });
                $('#liNavU3').css({ 'display': 'none' });
                $('#liNavU2').css({ 'display': 'block' });
                $('#liR').css({ 'display': 'block' });
                $('#liL').css({ 'display': 'block' });
            }
        });
        $(window).resize(function () {
            // getShoppingCart();
            if ($(document).width() <= 974 && $(document).width() > 327) {
                $('#liNavU').css({ 'display': 'block' });
                $('#liNavU2').css({ 'display': 'none' });
                $('#liNavU3').css({ 'display': 'block' });
                $('#liR').css({ 'display': 'none' });
                $('#liL').css({ 'display': 'none' });
            } else {
                $('#liNavU').css({ 'display': 'none' });
                $('#liNavU2').css({ 'display': 'block' });
                $('#liNavU3').css({ 'display': 'none' });
                $('#liR').css({ 'display': 'block' });
                $('#liL').css({ 'display': 'block' });
            }
        });
        $(document).ready(function () {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });
    </script>
    <!-- <script src="~/js/cart-crud.js"></script> -->
    <!-- END SCRIPT -->
</body>

</html>
<a href=""></a>