
<h2>Contact Bethany's Pie Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="info@@bethanyspieshop.com" content="Contact us"></email>
<div class="row container">

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15865.215356051993!2d-75.60333834999999!3d6.223609!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1541398637583" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

