@model HomeViewModel


@{
    ViewData["Title"] = "Home";
    ViewData["returnUrl"] = "/";
}

@await Html.PartialAsync("Carousel")

<h2>Pies of the week</h2>
<h5>Our weekly selection - just for you!</h5>

<div class="row d-flex justify-content-center pt-3">

    @foreach (var pie in Model.PiesOfTheWeek)
    {
        @*@Html.Partial("PieOfTheWeekSummary", pie)*@
        <partial name="PieOfTheWeekSummary" , model="pie" />
    }

</div>
